.containerContent {
    z-index: 1;
    position: relative;
    padding: 0px 32px 0 32px;
    display: block;
    float: left;
    width: 156px;
}  
.containerContent2 {
    z-index: 1;
    position: relative;
    padding: 0px 36px 0 36px;
    display: block;
    float: left;
    width: 388px;
}  
.containerContent3 {
    z-index: 1;
    position: relative;
    padding: 0px 36px 0 36px;
    display: block;
    float: left;
    width: 870px;
}

.col1{width: 100%; position: relative; float: left;}
.col2{width: 220px; height: 452px; position: relative; float: left;}
.col3{width: 460px; height: 452px; position: relative; float: left;}
.col4{width: 160px; position: relative; float: left;}
.col5{width: 200px; position: relative; float: left;}
.col6{width: 942px; height: 452px; position: relative; float: left;}
.col7{width: 942px; height: 652px; position: relative; float: left;}
.col8{width: 200px; position: relative; float: left;}
.col9{width: 942px; height: 852px; position: relative; float: left;}